@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 1px solid red;
    
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

.header, .hero-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 16px;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-header {
    gap: 24px;
    display: flex;
    font-size: 18px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    max-height: 600px;
    align-items: center;
    justify-content: center;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    max-width: 400px;
    max-height: 400px;
    margin: 16px;
}

.right-hero {
    display:flex;
    margin: 16px;
}

.hero-image {
    height: 200px;
    width: 500px;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    padding: 8px 0;
}

#B1 {
    height: 30px;
    width: 120px;
    border-radius: 8px;
    background: #3882F6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}