@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 1px solid red;
    
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;    
}

.header, .hero-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-header {
    display: flex;
    gap: 24px;
    opacity: 80%;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    max-height: 800px;
    align-items: center;
    justify-content: center;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    max-width: 400px;
    max-height: 400px;
    margin: 16px;
}

.right-hero {
    display: flex;
    margin: 16px;
}

.hero-image {
    height: 200px;
    width: 500px;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 80%;
}

.hero-button {
    padding: 8px 0;
}

.b1 {
    height: 30px;
    width: 120px;
    border-radius: 8px;
    background: #3882F6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 900;
}

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-border {
    border: 4px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 16px;
    padding: 16px;
    margin: 32px 32px;
    width: 120px;
    height: 120px;
}

.card-text {
    text-align: center;
    max-width: 160px;
}



.left-cards, .right-cards {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}